*{
        padding: 0px;
        margin: 0px;
    }
    body {
        font-family: Arial, sans-serif;
        background: #e8f2ff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .game {
        background: #fff;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 4px 15px rgba(0,0,0,0.1);
        text-align: center;
        width: 20%;
    }

    h2 {
        margin-bottom: 10%;
        color: #0b63d6;
    }

    .board {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
        margin-bottom: 20px;
    }

    .cell {
        width: 90px;
        height: 90px;
        background: #ffffff;
        border: 2px solid #0b63d6;
        border-radius: 8px;
        font-size: 40px;
        font-weight: bold;
        color: #0b63d6;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    button {
        background: #0b63d6;
        color: white;   
        border: none;
        padding: 13px 18px;
        border-radius: 10px;
        font-size: 1.1rem;
        cursor: pointer;
    }
    button:hover{
        background: transparent;
        border: 1px solid #0b63d6;
        color: #0b63d6;
    }